/**
*
* {{ properCase name }}
*
*/

import React from 'react';

{{#if wantCSS}}
import styles from './styles.css';
{{/if}}

function {{ properCase name }}() {
  return (
    {{#if wantCSS}}
    <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
    {{else}}
    <div>
    {{/if}}
    </div>
  );
}

export default {{ properCase name }};
