/**
*
* {{ properCase name }}
*
*/

import React from 'react';

{{#if wantCSS}}
import styles from './styles.css';
{{/if}}

function {{ properCase name }}() {
  return (
    {{#if wantCSS}}
    <div className={ styles.{{ camelCase name }} }>
    {{else}}
    <div>
    {{/if}}
    </div>
  );
}

export default {{ properCase name }};
